.contato{
    padding: 2em 1.5em;    
}

.contato__container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.contato__titulo{
    font-size: 1.13em;
    font-weight: 500;
}

.contato__leads{
    background-color: transparent;
    padding: 0.9em 3em;
    border-radius: 3em;
    border: 1px solid var(--Teste, #002F52);
}

.contato__leads::placeholder{
    padding: 0.63em 3em;
    font-family: var(--font-principal);
    font-size: 1em;
    font-weight: 400;
    color: var(--azul-degrade);
    /* text-align: center; */
    background-image: url("../../imagens/Envelope.svg");
    background-repeat: no-repeat;
    background-position: 0;
}